---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="py-12 bg-[#190A35] text-white">
        <h1 class="text-center text-4xl font-bold mb-10">À Propos</h1>

        <div class="mt-10 bg-[#312345] p-6 rounded-xl max-w-2xl mx-auto relative">
            <span class="bg-pink-500 text-white px-4 py-2 rounded-lg font-bold absolute -top-5 left-6">
                A propos
            </span>
            <p class="text-lg mt-6">
                Découvrez le Lionimation Festival, le tout nouveau rendez-vous de l’animation à Belfort !
                Ne manquez surtout pas cette première édition de votre festival audiovisuel favori !
            </p>
        </div>

        <div class="mt-10 bg-[#312345] p-6 rounded-xl max-w-2xl mx-auto relative">
            <span class="bg-pink-500 text-white px-4 py-2 rounded-lg font-bold absolute -top-5 left-6">
                Historique
            </span>
            <p class="text-lg mt-6">
                Découvrez le Lionimation Festival, le tout nouveau rendez-vous de l’animation à Belfort !
                Ne manquez surtout pas cette première édition de votre festival audiovisuel favori !
            </p>
        </div>

        <div class="mt-10 bg-[#312345] p-6 rounded-xl max-w-2xl mx-auto relative">
            <span class="bg-pink-500 text-white px-4 py-2 rounded-lg font-bold absolute -top-5 left-6">
                EQUIPE
            </span>
            <p class="text-lg mt-6">
                Découvrez le Lionimation Festival, le tout nouveau rendez-vous de l’animation à Belfort !
                Ne manquez surtout pas cette première édition de votre festival audiovisuel favori !
            </p>
        </div>

        <div class="mt-10 bg-[#312345] p-6 rounded-xl max-w-2xl mx-auto relative">
            <span class="bg-pink-500 text-white px-4 py-2 rounded-lg font-bold absolute -top-5 left-6">
                NE PAS RATEZ
            </span>
            <p class="text-lg mt-6">
                Découvrez le Lionimation Festival, le tout nouveau rendez-vous de l’animation à Belfort !
                Ne manquez surtout pas cette première édition de votre festival audiovisuel favori !
            </p>
        </div>
        </div>
    </section>
</Layout>
