---
import Facebook from '../assets/icons/IconFacebook.svg'
import Twitter from '../assets/icons/IconTwitter.svg'
import Linkedin from '../assets/icons/IconLinkedin.svg'
import Instagram  from '../assets/icons/IconInstagram.svg'
---


<footer class="bg-[#111e4b] text-white py-10 text-center">
    <!-- Liens principaux -->
    <ul class="space-y-3 text-lg">
        <li><a href="/a-propos" class="hover:opacity-75">A propos</a></li>
        <li><a href="/info" class="hover:opacity-75">Info</a></li>
        <li><a href="/billeterie" class="hover:opacity-75">Billetterie</a></li>
        <li><a href="/contact" class="hover:opacity-75">Contact</a></li>
    </ul>

    <!-- Icônes des réseaux sociaux -->
    <div class="flex justify-center space-x-6 mt-6">
        <a href="#" class="hover:opacity-75 fill-amber-50">
            <Facebook/>
        </a>
        <a href="#" class="hover:opacity-75 fill-amber-50">
            <Instagram/>
        </a>
        <a href="#" class="hover:opacity-75 fill-amber-50">
            <Twitter/>
        </a>
        <a href="#" class="hover:opacity-75 fill-amber-50">
            <Linkedin/>
        </a>
    </div>

    <!-- Copyright -->
    <p class="text-gray-400 text-sm mt-4">© 2024 Projet pédagogiques.</p>
</footer>
